{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="{% static "core/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "core/css/mdb.min.css" %}" rel="stylesheet">
  <link href="{% static "core/css/style.min.css" %}" rel="stylesheet">
</head>


<body>

    {% include "navbar.html" %}

      <div class="mt-5 pt-4">
      {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
      {% endif %}
      </div>
  {% block content  %}

  {% endblock content %}

  {% block extra_body %}


  {% endblock %}



  {% include "footer.html" %}
  {% include "scripts.html" %}


</body>
</html>

